
<div ng-controller="CheckinController as CheckinCtrl">
  <ul>

      <li ng-repeat="checkin in checkins">
        <a href="#/checkin/{{checkin.id}}">
          <div class="list">
            <div class="info">
              <h1>{{checkin.user.name}}</h1>
              <span class="sous_titre">Date de création: </span>{{checkin.created_at}}
            </div>
            <div class="img">
                <img src="{{checkin.user.picture}}" alt="" />
            </div>


          </div>
        </a>
      </li>

  </ul>
</div>
